@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: white; */
  background-color: #141d26;
  /* background-color: #252726; */
  /* background-color: rgb(3, 3, 3); */
  color: #cbcbcb;
  font-size: 1.5rem;
  width: 100vw;
}
* {
  font-family: 'Rubik', sans-serif;
 
}
section {
  padding: 50px 25vw;
}

@layer components {
  .headspace {
    @apply mb-3;
  }
  .pspace {
    @apply mb-12;
  }
}
@media only screen and (max-width: 1500px) {
  section {
    padding: 50px 10vw;
  }
}
